@model EmployeePortal.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JD" class="control-label"></label>
                <input asp-for="JD" class="form-control" />
                <span asp-validation-for="JD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeType" class="control-label"></label>
                <select asp-for="EmployeeType" asp-items="Html.GetEnumSelectList<EmployeeType>()" class="form-control">
                    <option value="">---------------</option>
                </select>
                <span asp-validation-for="EmployeeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobType" class="control-label"></label>
                <select asp-for="JobType" asp-items="Html.GetEnumSelectList<JobType>()" class="form-control">
                    <option value="">---------------</option>
                </select>
                <span asp-validation-for="JobType" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="HourlyPay" class="control-label"></label>
            <input asp-for="HourlyPay" class="form-control" />
            <span asp-validation-for="HourlyPay" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bonus" class="control-label"></label>
            <input asp-for="Bonus" class="form-control" />
            <span asp-validation-for="Bonus" class="text-danger"></span>
        </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
